header{
    
    background-color:#640064;
}
button{
    border: none;
}
h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
    font-family:  Ubuntu, sans-serif;
}
::-webkit-input-placeholder {
    font-family:  Ubuntu, sans-serif;
    font-size:.9em;
}
:-moz-placeholder {
    font-family: Ubuntu, sans-serif;
    font-size:.9em;
}
::-moz-placeholder {
    font-family:  Ubuntu, sans-serif;
    font-size:.9em;
}
:-ms-input-placeholder {
    font-family: Ubuntu, sans-serif;
    font-size:.9em;
}
.date{
    font-family: Ubuntu, sans-serif;
    font-size:.9em;
}


.Search{
    width:800%;
    height: 35px;
    margin-top: 3px;
    border-radius:10px 10px 10px 10px;
}
.form-control{
     width:100%;
}
textarea{
   max-width: 380px; 
}
.searchportion{
  display: inline-flex;
    flex-direction: row;
    width:440px;
}

.logo{
    width: 100%;
}
.mainlogo{
    width: 180px;
}
.naviconHouse{
    width: 25px;
  
    margin-right: 8px;
}
.naviconCompetition{
    width: 25.5px;
   
    margin-right: 8px;
}
.naviconNotification{
    width: 23px;
   
    margin-right: 8px;
}
.naviconPower{
    width: 28px;
}
.navprofilepic{
    width: 30px;
    border-radius: 100%;
}
.uploadbutton{
    background-color:#640064;
    padding-right: 0;
    padding-left: 8px;
   
    
}
.accountholdername{
    
    background-color:#640064;
    color: #E1C8FF;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    padding-left: 5px;
}


.uploadicon{
    width:100px;
}
@media (max-width:992px){
     .searchportion{
    width:400px;
}
}
@media (max-width: 576px){
    .searchportion{
        
    flex-direction:column;
    width: 100%;
}
    .form-control{
     width:100%;
}

}

/* navber top****/

.profilePortion{
    padding-top: 10px;
    margin-left: 0;
    margin-right:0; 
}

.profilepic{
    
    width: 100px;
    margin-top: 5%;
    border-radius: 100%;
}

 .ProfileImageName{
        
        display: inline-flex;
        flex-direction:column;
        text-align:center;
        padding-left: 40px;
        padding-top: 40px;
        font-family: Ubuntu, sans-serif;
        font-weight: 100;
        font-size: 0.8em;
        align-items: center;
    }
@media (min-width:340px){
    
       .ProfileImageName{
        
       
        padding-left: 80px;
    }
    
    .AboutProfiletext{
    
  
    padding-left: 80px;
}
    .recognition{

   
    padding-left: 80px;
   
}
}

@media (min-width:500px){
    
       .ProfileImageName{
        
       
        padding-left: 150px;
    }
    
}
.AboutProfile{
    justify-content: center;
     font-family: Ubuntu, sans-serif;
        font-weight: 100;
        font-size: 0.8em;
    width: 100%;

}
.AboutProfiletext{
    
    padding-top: 40px;
    padding-left: 40px;
    width: 80%;
}
.EditProfile{
   font-family: Ubuntu, sans-serif;    
   display: inline-block;
   text-align: right;
   padding-right:5%;    
   width: 100%;
   text-decoration: none;
   color:#640064;     
}
a:visited{
    color:#640064;
    text-decoration: none;
}
a:hover, a:active{
    color:#640064;
    text-decoration: none;
}
a:hover {
    text-decoration:none;
}
.photoinfo{
    font-family: Ubuntu, sans-serif;   
    text-align: center;
    background-color:#FFE1FE;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #746F6F;
    width: 100%;
}
.Photo{
    padding-left:0;
    padding-right: 0;
    width:90%;
}
.following{
    padding-left:0;
    padding-right: 0;
    width: 90%;
}
.follower{
    padding-left:0;
    padding-right: 0;
    width: 90%;
}






@media (min-width:768px){
    .following{
    border-right:1px solid black;
    border-left:1px solid black;
}
}
/** for someones page
.followers{
    padding-left:0;
    padding-right: 0;
    width: 90%;
}
@media (min-width:768px){
    .followers{
    border-left:1px solid black;
}
}

.follow{
    
    background-color: #32CD32;
    width: 100px;
    font-family: Ubuntu, sans-serif;   
    font-size:1em;
    color: white;
    text-align: center;
    margin-top: 25%;
    margin-left: 55%;
    border-radius: 7px 7px 7px 7px;
    
}


*********************/





.competition{
    border-bottom:0.2px solid #B4B2B4;
}

.imageP{
    padding: 5px;
}

.ImageG{
   width:100%;
}
a.AllImage{
    float: right;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #746F6F;
    text-decoration: none;
}

h5{
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    font-size: 1.3em;
}
h6{
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    font-size: 1em;
    margin-top: 2px;
}

p{
    color:#746F6F;
}
.recognition{

    padding-top: 40px;
    padding-left: 40px;
    justify-content: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    width: 100%;
}
@media (max-width:992px){
    .recognition{  
    justify-content: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    font-size: 0.8em;
}
}

.badges{
    width: 20px;
    margin-right:38px;
    margin-bottom: 10px;
}
.modal-content{
    position: relative;
    border-radius: 15px 15px 15px 15px;
    max-width:400px;
    padding-bottom: 10px;
     background: #E2DAD8;
}

.close {
  float: right;
  text-align: right;
  width: 10px;
  margin-top: 5px;
  margin-left: 95%;    
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}


.signupFrom{
    width:49.1%;
    padding:5px 20px;
    margin: 4px 0;
    color: #888;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.signupFrom1{
    width:49.1%;
    padding:8px 20px;
    margin: 4px 0;
    color: #888;
    font-family:  Ubuntu, sans-serif;
    font-size:.9em;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.NameForm{
    width:99%;
    padding:5px 20px;
    margin: 4px 0;
    color: #888;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.About{
    width:100%;
    padding:5px 20px;
    height: 80px;
    margin: 4px 0;
    color: #888;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.Interests{
    width:100%;
    padding:5px 20px;
    height: 80px;
    margin: 4px 0;
    margin-right: 0;
    color: #888;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.PI{
    padding-left: 0;
    padding-right: 0;
}

.AB{
     padding-left: 0;
     padding-right: 0;    
}
.RG{
     padding-left: 0;
     padding-right: 0;
}

.PFPI{
    
    width: 100%;
    margin: 0;
}
.PopupSignup{
   
    padding-left: 4%;
    padding-right: 4%;
}
.nameImage{
    
    display:inline-flex;
    flex-direction: row;
}

.Imagebutton{
    background-image: url(../img1/images-of-man-and-woman-in-love.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 140px;

    color: white;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    border-color: #E2DAD8;
    border-radius:100%;
}

.ChangePasswordfild{
    color: #640064;
    font-family: Ubuntu, sans-serif;
    font-weight: 200;
    
}
@media (min-width:335px){
    
    hr{
    color:#640064;
    position:absolute;
    top:59.5%;
    right:7%;
    width:45.5%;
    border: 1px solid #640064;
}
}
    @media (min-width:365px){
    
    hr{
    color:#640064;
    position:absolute;
    top:59.5%;
    right:7%;
    width:48.5%;
    border: 1px solid #640064;
}
    }
    @media (min-width:388px){
    
    hr{
    color:#640064;
    position:absolute;
    top:59.5%;
    right:7%;
    width:50.5%;
    border: 1px solid #640064;
}
    }
    @media (min-width:400px){
    
    hr{
    color:#640064;
    position:absolute;
    top:59.5%;    
    right:7%;
    width:52.5%;
    border: 1px solid #640064;
}
    
}
@media (min-width:423px){
   hr{
    color:#640064;
    position:absolute;
    top:59.5%;
    right:7%;
    width:54.5%;
    border: 1px solid #640064;
} 
}


.Password{
     width:100%;
    padding:5px 20px;
    margin: 4px 0;
    color: #888;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Save{
     
    background-color:#640064;
    width:100%;
    padding:1px;
    padding-top: 5px;
    font-family:  Ubuntu, sans-serif;
    padding-bottom: 5px;
    border-color:#640064; 
    margin-bottom: 5px;
    color:white ;
    border-radius: 7px 7px 7px 7px;
}
.Cancle{
    background-color:white;
    width:100%;
    padding:1px;
    font-family:  Ubuntu, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color:white; 
    
    color:black;
    border-radius: 7px 7px 7px 7px;
}


@media (min-width: 576px){
    
    .ProfileImageName{
        
        flex-direction: row;
        text-align:left;
        align-items: center;
    }
    .profilepic{
        height: 100px;
    }
    
}


@media (min-width:768px){
    
    .AB{    
     border-right:1px solid darkgray;
}
}

